<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}InstantView - Partage et echange tes données.{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/tweet-compose.js') }}"></script>
        <script src="{{ asset('js/alert.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    </head>
    <body>
        {% block body %}

        {% endblock %}
    </body>
</html>
