{% extends 'Default/base.html.twig' %}
{% block body %}
   <a href="{{ path('app_action_disconnect') }}">Logout</a>
   <h1>Adding a new product</h1>
   <form method="post" {{form_enctype (form)}}>
   
     {{ form_label(form.profil) }}
     {{ form_widget(form.profil) }}
      {{ form_row(form._token) }}

                <button type="submit">login</button>
</form>
{% endblock %}